
.all-elements {
  font-size: 150%;
  font-family: "Playfair Display", serif;
}
.form-control {
  width: 40vw;
  height: 9vh;
  font-size: 100%;
}

.form-label {
  color: rgb(9, 5, 71);
}
.show-error{
  color:red
}
